@import '../../styles/responsive.scss';

.search-bar {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;

  &__input {
    width: 100%;
    padding: 20px;
    max-width: 540px;
    font-size: 1.5rem;
    border: 3px solid black;

    @include mobile-only {
      font-size: 0.8rem;
    }
  }
}
